
footer {
    background-color: #333; 
    color: #fff; 
    text-align: center; 
    padding: 20px 0; 
}

.container {
    background-color: #f5deb3; 
}

.nav {
    background-color: #f5deb3; 
}

.titulo {
    text-align: center; 
}
