.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

  
  .carousel-inner {
   width: 100%; /* Ancho del 100% del contenedor padre */
   height: 400px; /* Altura automática según el contenido */
    
  }