.contenedor-flex {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container {
    background-color: #f5deb3; /* Color crema pálido */
}

footer {
    background-color: #333; /* Color de fondo */
    color: #fff; /* Color del texto */
    text-align: center; /* Alinear el texto al centro */
    padding: 20px 0; /* Agregar relleno arriba y abajo */
}


