.nav justify-content-end {
    color: black;
  }
   
.nav-link {
    color: blue; /* Cambia el color a azul */
  }
  
.nav-link:hover {
    color: red; /* Cambia el color a rojo cuando el mouse está sobre el enlace */
  }
  
  